# Çevre Değişkenleri ve Şifreler 
.env
.env.*
.env.local

# Python Önbellek Dosyaları
__pycache__/
*.pyc

# Sanal Ortam (Virtual Environment)
.venv/
venv/
env/

# Frontend (Node & React)
node_modules/
dist/
.eslintcache

# İşletim Sistemi Dosyaları
.DS_Store